
<!-- @if (customerData$ | async; as customerData) {

    @if(customerData.length>0){
        @for (item of customerData; track $index) {
                <p>{{item.customerId}}</p>

        }

    } @else {

        <p>No Customers Found...</p>
    }

} -->

<div class="mat-elevation-z8 w-full"> 
    <div class="flex justify-end p-8"><button mat-raised-button color="primary" routerLink = "/add-customer">Add Customer</button> </div>
@if(customers.length>0){

    <table mat-table [dataSource]="dataSource" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Customer Id Column -->
        <ng-container matColumnDef="Customer Id">
          <th mat-header-cell *matHeaderCellDef> Customer Id </th>
          <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
        </ng-container>
      
        <!-- Full Name Column -->
        <ng-container matColumnDef="Full Name">
          <th mat-header-cell *matHeaderCellDef> Full Name </th>
          <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>
      
        <!-- Date of Birth Column -->
        <ng-container matColumnDef="Date Of Birth">
          <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
          <td mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </td>
        </ng-container>

        <!-- Date of Birth Column -->
        <ng-container matColumnDef="Age">
            <th mat-header-cell *matHeaderCellDef> Age (In Yrs) </th>
            <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | age}} </td>
          </ng-container>

        <!-- Edit Button Column -->
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-raised-button color="primary" (click)="editCustomer(element.customerId)">Edit</button> </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
} @else {

    <p>No Customers Found...</p>
}

</div>




<!-- <div class="container" my-5>
    <h1 class="mb-3">Customers</h1>
    <table class="table" *ngIf="customers">
        <thead>
            <tr>
                <th>Customer Id</th>
                <th>Full Name</th>
                <th>Date of Birth</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{customer.customerId}}</td>
                <td>{{customer.fullName}}</td>
                <td>{{customer.dateOfBirth}}</td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!customers">No Customers Found!</p>
</div> -->